version: "3.8"

services:
  postgres-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: spring_react
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  spring-app:
    build:
      context: ./produtos
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/spring_react
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
     
    depends_on:
      - postgres-db
    restart: unless-stopped

  spa-app:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "9090:9090"
    depends_on:
      - spring-app
    restart: unless-stopped

volumes:
  postgres-data:
    driver: local
